.component-container{
    width: 375px;
    margin: 0 auto;
}

.h-flex {
    width: 2.2em;
    height: 2.2em;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}