<div class="main-page">
    <div class="image-container">
        <img src="../../assets/images/airpod.png" alt="">
    </div>
    <div>
        <div>
            <p class="shipping-type">Free Shipping</p>
        </div>
        <h2 class="brand">Apple</h2>
        <h2 class="product">Airpod Max</h2>
        <p class="description">
            The most powerful Macbook Pro ever is here. With the blazing-fast
            M1 Pro or M1 Max chip the first Apple silicon designed for pros.
        </p>
    </div>
</div>
